@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

// Colors:
$white-smoke: #f7f7f7;
$nero: #1b1b1b;
$witch-haze: #d4fc79;
$granny-smith-apple: #96e6a1;
$curious-blue: #349dbd;

html {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	text-transform: lowercase;
}

img {
	border: 0;
	display: block;
	height: auto;
	max-width: 100%;
}

#root {
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.body {
	display: flex;
	justify-content: center;
	background: linear-gradient(to bottom, $witch-haze 0%, $granny-smith-apple 100%);
	background-repeat: no-repeat;
	height: 100vh;
	line-height: 1;
}

.temp {
	background-color: $white-smoke;
	border-radius: 1rem;
	box-shadow: 0 0.625rem 1rem 0.25rem rgba(0, 0, 0, 0.1);
	color: $nero;
	padding: 2rem 3rem;

	&__heading {
		font-size: 4rem;
		margin-bottom: 2rem;
		text-align: center;

		@media only screen and (max-width: 500px) {
			font-size: 3rem;
		}

		@media only screen and (max-width: 415px) {
			font-size: 2.5rem;
		}

		@media only screen and (max-width: 365px) {
			font-size: 2.25rem;
		}
	}

	&__group {
		display: flex;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	&__label {
		flex: 0 0 6.5rem;
		font-size: 1.125rem;

		@media only screen and (max-width: 415px) {
			font-size: 1rem;
		}

		@media only screen and (max-width: 365px) {
			font-size: 0.875rem;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__input {
		background-color: transparent;
		border: none;
		font-size: 1.5rem;
		padding: 0.25rem 0;
		width: 10rem;

		&:focus {
			outline: none;

			& + .temp__span {
				&::after {
					width: 100%;
				}
			}
		}

		@media only screen and (max-width: 415px) {
			font-size: 1.25rem;
		}

		@media only screen and (max-width: 365px) {
			font-size: 1.125rem;
		}
	}

	&__span {
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 0;
			background-color: $granny-smith-apple;
			transition: all 250ms ease-in-out;
		}
	}

	&__btn {
		background-color: transparent;
		border: none;
		border-radius: 1rem;
		color: $curious-blue;
		cursor: pointer;
		display: block;
		font-family: 'Lato', sans-serif;
		font-size: 2rem;
		font-weight: 900;
		letter-spacing: 1px;
		margin: 1.5rem auto 0 auto;
		padding: 0.5rem 0;
		transition: all 175ms ease-in-out;
		-webkit-tap-highlight-color: transparent;
		width: 25%;

		&:hover,
		&:active,
		&:focus {
			background: linear-gradient(120deg, $witch-haze 0%, $granny-smith-apple 100%);
			box-shadow: 0 0.625rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
			outline: none;
			transform: translateY(-2px);
		}

		@media only screen and (max-width: 650px) {
			width: 50%;
		}

		@media only screen and (max-width: 415px) {
			font-size: 1.75rem;
		}

		@media only screen and (max-width: 365px) {
			font-size: 1.5rem;
			width: 75%;
		}
	}
}

.footer {
	margin-top: 5%;
	text-align: center;

	// &__text {
	// }

	&__icon-row {
		margin-top: 1.5%;
	}

	&__icon-link {
		margin: 0 0.375%;
		transition: all 175ms ease-in-out;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				color: $curious-blue;
			}
		}
	}

	// &__icon {
	// }
}
